
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


html,body
{
    width: 100%;
    height: 100%;
}

.view-main
{
    display:none;
}
#form-login .list-block .item-inner:after
{
    background: transparent;
}
.login-screen-content
{
    padding-top: 5%;
}
.navbar-inner .right,
.navbar-inner .center,
.navbar-inner .left
{
    opacity: 1.0 !important;
}
.login-screen-title img
{
    width: 70%;
    margin-top: 20%;
}

#slider {
    height: 200px;
    position: relative;
    overflow: hidden;
}
#slider > div {
    height: 200px;
    width: 2526px;
    background: url(../assets/animaciones/ciudad-gde.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: contain;
    -moz-transition:  opacity 0.5s ease-out; 
    -o-transition: opacity 0.5s ease-out; 
    -webkit-transition: opacity 0.5s ease-out; 
    -ms-transition: opacity 0.5s ease-out; 
    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    background-position:  -50px;
}
#slider #slider-1 {
    background-position:  -145px 200px;
    -webkit-animation: moveSlideshow 30s linear infinite;
    -moz-animation:    moveSlideshow 30s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0); 
        -moz-transform:    translateX(0); 
        -ms-transform:     translateX(0); 
        -o-transform:      translateX(0); 
        transform:         translateX(0); 
    }    
    100% { 
        -webkit-transform: translateX(-1684px); 
        -moz-transform:    translateX(-1684px); 
        -ms-transform:     translateX(-1684px); 
        -o-transform:      translateX(-1684px); 
        transform:         translateX(-1684px); 
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0); 
        -moz-transform:    translateX(0); 
        -ms-transform:     translateX(0); 
        -o-transform:      translateX(0); 
        transform:         translateX(0); 
    }    
    100% { 
        -webkit-transform: translateX(-1684px); 
        -moz-transform:    translateX(-1684px); 
        -ms-transform:     translateX(-1684px); 
        -o-transform:      translateX(-1684px); 
        transform:         translateX(-1684px); 
    }
}


.ciudad:after{
  content:'';
  background: #7BCDD0;
  position:fixed;
  width: 100%;
  height: 100%;
  left:0;
}


.ciudad
{
    margin-top: 40%; 
}
/*
.botones
{
    width:100%;
    position: absolute;
    bottom:0;
    text-align: center; 
}
.botones a
{
    color: #A5DE37;
    height: 100%;
    width: 34%;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #A5DE37;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    float: none;
    display: inline-block;
}
*/
.map-container > .content-block-inner{
    background: none;
}

#request-taxi-button{
    color: #009bdb;
    border: 2px solid #b9bd30;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto 0;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ffffff;
}

#request-taxi-button.active{
   background-color: #b9bd30;
   color: #ffffff;
}

.map-button{
    position: absolute;
    right: 8px;
    background-size: cover;
    height: 40px;
    width: 40px;
    top: 20px;
}

.map-panel-button{
    background-image: url("../assets/iconos/menu.png");
}

.map-center-button{
    background-image: url("../assets/iconos/ubicacion.png");
    top: 65px;
}
.map-call-button{
    background-image: url("../assets/iconos/ayuda.png");
    top: 110px;
}
.map-button:first-child{
    top:   20px;
}
.map-menu .row{
    margin: 5px 0 5px;
}


.map-menu{
    padding: 10px 15px;
    position: absolute;
    /*width: calc(100% - 2.3em);*/
    width: 100%;
    bottom: 0px;
    background: #ffffff;
}
#map-canvas{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 170px;
}
.on-route{
    display: none;
    font-size:.9em;
}
.on-route ul{
    margin: 5px 0;
    padding: 0 0 0 4%;
    list-style: none;
    font-size: .75em;
}

.on-route ul:first-of-type{
    border-right: 2px solid #b9bd30;
}
.on-route ul:last-of-type{
      margin-left: 4%;
}
/*
.on-route ul:first-child{
    border-right: 2px solid #b9bd30;
    margin-left: 15px;
    padding-left: 15px;
}
*/
.on-route ul .time{
    font-weight: bold;
    margin-top: 10%;
    font-size:large;
}
.on-route ul li:first-child{
   color: #009bdb;
   font-weight: bold;
}
.page-content{
    background: #ffffff;
}
.separador{
    background: #b9bd30;
}

.popover,.popover-angle:after{
    background: #009bdb;
    
}

.popover:after{
  content:"";
  border-left: 20px solid  transparent;
  border-right: 20px  solid  transparent;
  border-top: 20px  solid #009bdb;
  position:absolute;
  bottom:0;
  margin-bottom: -20px;
  margin-left: -20px;
}
.map-popover{
    padding: 0 10px 10px;
    text-align: center;
    font-size: .75em;
    display: none;
    opacity: 1;
    position: absolute;
}


.map-popover .header{
    color: #ffffff;
    background: #009bdb;
    margin: 0;
}
.header h4{
    margin:0 auto;
}
.map-popover .row{
    margin: 1em 0;
}

.map-popover .title{
    font-weight: bold;
    color: #009bdb;
}

.map-popover .route label{
    font-weight:bold;
}
.map-popover .route{
    padding: .5em 0;
}

.map-popover .container{
    background: #ffffff;
    padding: 0;
}
.map-popover .preview [class^="col-"] span:first-child{
    border-bottom: 1px solid #b9bd30;
    font-weight: bold;
    padding: 0 0 3px 0;
}
.map-popover .preview .col-xs-12 span:last-child{
    font-weight: bold;
    padding-top: 3px;
    font-size: 1.3em;
}

#popover-rate .container{
    padding: 5%;
}
.map-popover .service {
    text-align: left;
}
.map-popover .service label:first-child{
    text-align: left;
    font-weight: bold;
    color: #009bdb;
    margin-left:5px;
}
.map-popover .service fieldset{
   margin: 0 5%;
}

.map-popover .service textarea{
  resize: none;
  border-radius: 4px;
  border-color: #d1d1d1;
  height: 75px;
  margin-bottom: 5%;
}

.map-popover .service span{
  color: #7d7d7d;
  text-align: center;
}

.map-popover .btn-send{
  margin: 0 16.66666666%;
  color: #ffffff;
  background-color: #009bdb;
  padding:5px;
  border-radius: 5px;
  letter-spacing: 2px; 
  font-weight: lighter;
  border: 1px solid #009bdb;
}

.map-popover .btn-send.active{
  color: #009bdb;
  background-color: #ffffff;
}

#popover-confirm-no {
  background: url('../assets/iconos/cancelar.png') no-repeat center;
  background-size: contain;
  height: 3em;
  border-right: 1px solid #2f3946;
}

#popover-confirm-yes {
  background: url('../assets/iconos/aceptar.png') no-repeat center;
  background-size: contain;
  height: 3em;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #009bdb;
}

.blured{
    width:100%;
    top:0;
    bottom:0;
    position: absolute;
    background: black;
    opacity: .4;
    display: none;
    z-index: -1;
}
.blured.active{
    display: block;
    z-index: 1;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label { 
  color: #ddd; 
 float: right;
     font-size: 2em;
}

.rating > input:checked ~ label { color: #FFD700;  }


.van{
    background-image: url("../assets/vehiculos/van.png");
}
.car{
    background-image: url("../assets/vehiculos/auto.png");
    border-left: 2px solid #b9bd30;
}
.swiper-slide.vehicle.car{
  border:none;
}
.vehicle{
    height:50px; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.vehicle-container{
    padding-top: 10px;
}


.search-address{
    background: #b9bd30;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 135px;
    width: 100%;
    padding: 5px 1px;
}
.search-address input[type="text"]{
    background: #b9bd30;
    border: none;
    border-left: 2px solid #ffffff;;
    color: #ffffff;
    height:100%;
    padding-left: 5px;
    font-size: smaller;
    overflow: hidden;
    #ffffff-space: nowrap;
    text-overflow: ellipsis;
}
.search-address a{
    background-image: url("../assets/iconos/lupa.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    background-position: center;
}

.search-address input[type="text"]::-webkit-input-placeholder{ color: #ffffff; }
.search-address input[type="text"]:-moz-placeholder{ color: #ffffff; }
.search-address input[type="text"]::-moz-placeholder{ color: #ffffff; }
.search-address input[type="text"]:-ms-input-placeholder{ color: #ffffff; }

.fixed-marker{
    height: 66px;
    width: 48px;
    background: url('http://104.131.60.162/indicador-usuario.png');
    bacground-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    z-index: 1;
}

.panel{
  background-color: #ffffff;
}
.item-content.active{
  background: rgba(0,155,219,0.2);
}

.list-block{
    margin-top: 10px;
}
.list-block ul{
  color: #009bdb;
   font-size: 13px;
}
.list-block ul:before{
  content:'';
  background: #b9bd30;
  height: 3px;
  width: 100%;
  display: block;
  left: 0;
  bottom: auto;
  right: auto;
  top: 0;
  z-index: 15;
}
.list-block ul:after{
   content:'';
  background: #b9bd30;
  height: 3px;
  width: 100%;
  display: block;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  z-index: 15;
}
.list-block .item-inner:after {
    background-color: #ffffff;
}

.list-block .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
}

.panel .profile-pic:before {
    content: '';
    height: 82px;
    width: 60px;
    background: url('../assets/iconos/usuario.png') no-repeat center;
    position: absolute;
    top: 0;
    background-size: 100%;
    margin-top: 10px;
    left: 50%;
    margin-left: -30px;
}

.panel .profile-pic {
    color: #009bdb;
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

.list-block .item-media i{
   background-size: contain;
   width: 1em;
   height: 1em;
}
.menu-edit-profile{ background: url('../assets/iconos/editarperfil.png') no-repeat center;}
.menu-payment{ background: url('../assets/iconos/metodos.png') no-repeat center;}
.menu-history{ background: url('../assets/iconos/historial.png') no-repeat center;}
.menu-contact{ background: url('../assets/iconos/contacto.png') no-repeat center;}
.menu-privacy{ background: url('../assets/iconos/privacidad.png') no-repeat center;}
.menu-about{ background: url('../assets/iconos/i.png') no-repeat center;}
.menu-logout{ background: url('../assets/iconos/cerrar-sesion.png') no-repeat center;}

.botones{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.botones a {
    background-color: #EBF7F7;
    border: 2px solid #ADD55D;
    text-align: center;
    color: #014961;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
    display: inline-block;
    line-height: 3.5em;
    text-decoration: none;
}
.botones a:first-child{
  border-right: 1px solid #ADD55D;
}
.botones a:last-child{
  border-left: 1px solid #ADD55D;
}

.camion
{
    z-index: 10000;
    position: relative;
    margin-top: -14%;
}
.camion:after{
  content:'';
  background: #5F9C9F;
  height: 5px;
  width: 30%;
  position: absolute;
  left: 50%;
  margin-left: -15%;
  margin-top: -3px;
  z-index:-1;
  border-radius: 5px;
}
.camion img
{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.camion img:nth-child(2)
{
    margin-top: -7%;
    width: 6%;
    margin-left: 39%;
}
.camion img:nth-child(3)
{
    margin-top: -6%;
    width: 6%;
    margin-left: 56.5%;
}

.llantas {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


@media screen and (max-device-width: 480px) and (orientation: portrait){
  .popover{
      width: 270px;
      margin: 0 auto;
  }
  .ciudad{
    margin-top: 20%;
  }
}




/***** EDIT PROFILE ****/
.image-container{
    border-radius: 50%;
    border: 5px solid #2f3946;
    padding: 3px;
    margin-top: 5px;
}
.edit-profile-image-container{
    height: 70px;
}
.taxi-driver-image-container {
    height: 70px;
    margin: auto;
    margin-right: 2%;
}
.edit-profile-image{
    background: url("../assets/iconos/usuario.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;   
    border-radius:50%;
}

.page-input{
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2%;
  margin-top: 5px;
}

#edit-profile-tel{
    margin-left: 0px;
}
#edit-profile-tel-code{
  margin-top: 10px;
  padding-left: 15%;}

#edit-profile-tel-code:before{
  content: '';
  background: url('../assets/iconos/telefono.png') no-repeat center;
  background-size: contain;
  height: 6%;
  width: 6%;
  position: absolute;
  margin-left: -8%;
  margin-top: -2.25%;
}


.password-input i {
  background: url('../assets/iconos/privacidad.png') no-repeat center;
  background-size: contain;
  height: 20px;
  margin-top: 3%;
}
.password-input input.page-input{
  margin-left:0px;
}

.password-input.new{
  margin-bottom:0;
  margin-top: 3%;
}

.password-input.new > input {
  margin-bottom:0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.password-input.repeat > input {
  margin-top:0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.password-input.repeat > i {
  margin-top: 3%;
}

#edit-profile-forgot{
    text-align: center;
  color: #7d7d7d;
  font-size: .8em;
  margin: 4% 0;
  padding: 3% 0;
}

.page-button {
  background-color: #009bdb;
  color: #FFF;
  font-size: .85em;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 4% 5%;
  margin: 0 16%;
  text-align: center;
}

.navbar{
    color: #009bdb;
    background: #FFFFFF;
}

.page-content.ios .content-block{
    margin-top: 0;
    padding: 0 25px;
    text-align: justify;
}

.page-content.ios .content-block:before{
  content:'';
  width: 100%;
  height:1px;
  background-color: #CCC;
  display: block;
    margin-bottom: 10px;
}

.page-content.ios .content-block-title{
 color: #009bdb;
 text-align: center;
 text-transform: capitalize;
 font-size: 1.2em;
}

.page-content.ios{
  padding-top: 20px;
}
.page-content.ios .content-block-title:first-child{
  margin-top: 0;
}
.page-content.ios .content-block-title:first-child i {
  background: url(../assets/iconos/flecha.png) no-repeat center;
  background-size: contain;
  height: 1em;
  width: 1em;
  position: absolute;
  left: 0;
}


/***** METODOS DE PAGO ****/


.payment-accordion .accordion-item-toggle i {
  background: url('../assets/iconos/tarjetas.png') no-repeat center;
  width: 1em;
  height: 1em;
  background-size: contain;
  display: flex;
  float: left;
  margin-right: 5%;
  font-size: 1.5em;
  line-height: .75em;
  vertical-align: -15%;
}
.payment-accordion .accordion-item-toggle span {
  float: right;
}

.payment-accordion ul{
    padding-left: 0;
    padding-right: 2%
}
.payment-accordion ul li{
  padding: 5px 0;
  border-bottom: 1px solid #898F99;
}

.payment-delete-card{
    padding-top: 3%;
    text-align: right;
}
.payment-delete-card a{
  color: #CCC ;
  font-size: .9em;
  padding: 15% 0;
}

.payment-info-card{
  color: #009bdb;
  font-size: .9em;
}
.payment-add .row{
  margin-left: 10%
}

.payment-add .container{
    padding: 0 0 0 10%;
}
.payment-add .row {
    margin: 0;
    margin-bottom: 3%;
}
.payment-add .row:last-child{
  margin: 5% 0 0;
}

.page-content.ios .payment-add{
    margin: -3% 0 5%;
}
.payment-add .title i {
  background: url('../assets/iconos/metodos.png') no-repeat center;
  width: 1em;
  height: 1em;
  background-size: contain;
  display: flex;
  float: left;
  margin-right: 5%;
  font-size: 1.5em;
  line-height: .75em;
  vertical-align: -15%;
}

.prepaid i {
  background: url('../assets/iconos/prepago.png') no-repeat center;
  width: 1em;
  height: 1em;
  background-size: contain;
  display: flex;
  float: left;
  margin-left: 5%;
  font-size: 1.5em;
  line-height: .75em;
  vertical-align: -15%;
  margin-top: -1px;
}

.prepaid span:last-child{
    color: #009bdb;
    padding: 0;
}

.payment-add .title span{
  margin-right: 2%;
}

/*** PRIVACY ***/
.privacy p:first-child{
    color: #009bdb;
}

.privacy p{
    font-size: .9em;
}

/*** CONTACTO ***/
.contact p{
    color:#009bdb;
}
 .contact .page-button{
    margin-top: 1em;
 }
 
 .contact .call{
    text-align: center;
    margin-top: 1em;
 }
 
 .contact .call a{
        color: #7d7d7d;
    font-size: .9em;
 }
 
#contact-coment{
  resize: none;
  height: 10em;
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: .5em;
}

#contact-coment::-webkit-input-placeholder{ font-size:.85em; }
#contact-coment:-moz-placeholder{ font-size:.85em; }
#contact-coment::-moz-placeholder{ font-size:.85em; }
#contact-coment:-ms-input-placeholder{ font-size:.85em; }



.reset-pass i {
  background: url('../assets/iconos/mail.png') no-repeat center;
  width: 1em;
  height: 1em;
  background-size: contain;
  font-size: 1.5em;
  line-height: .75em;
  margin-top: .2em;
}
.reset-pass .page-input{
  margin-top: 0;
}
.reset-pass .title{
  margin-top: 2em;
}

.reset-pass .page-button{
  margin-top: 2em;
}

.login-container{
    padding: 0 15%;
    margin-top: 15%;
}

#page-login{
  background: white;
}

.login-container input{
  background: #ECEEEF;
  color: #009bdb;
  padding: 1em .7em;
  border: none;
  border-radius: 7px
}

.login-container .row{
  margin: 1em 0;
}

.login-container .forgot-btn{
  font-size: .7em;
  text-align: center;
  color: #2f3946;
}

.login-container .login-btn{
  background: #b9bd30;
  color: #FFF;
  text-align: center;
  padding: 1em .7em;
  border-radius: 7px;
  text-transform: uppercase;
}

.login-container .register{
   font-size: .7em;
  text-align: center;
  color: #2f3946;
}

.login-container .reset{
    color: #606A77;
}

.login-container .register span{
  color: #009bdb;
}

.login-container input::-webkit-input-placeholder{ color: #009bdb; }
.login-container inputt:-moz-placeholder{ color: #009bdb; }
.login-container input::-moz-placeholder{ color: #009bdb;; }
.login-container input:-ms-input-placeholder{ color: #009bdb; }



.login-footer {
    background: url('../assets/img/ciudad-chiquito.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: -1;
}

.popup-overlay{
  z-index: -1;
}

.input-group-addon{
  background-size: contain;
  border: none;
}
.input-group .form-control:last-child{
  margin-left: 10%;
  width: 90%;
  border-radius: 4px;
}


