
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


html,body
{
    width: 100%;
    height: 100%;
}

.view-main
{
    display:none;
}
#form-login .list-block .item-inner:after
{
    background: transparent;
}
.login-screen-content
{
    padding-top: 5%;
}
.navbar-inner .right,
.navbar-inner .center,
.navbar-inner .left
{
    opacity: 1.0 !important;
}
.login-screen-title img
{
    width: 92%;
    margin-top: 89px;
}

#slider {
    height: 200px;
    position: relative;
    overflow: hidden;
}
#slider > div {
    height: 200px;
    width: 2526px;
    background: url(../img/ciudad.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: contain;
    -moz-transition:  opacity 0.5s ease-out; 
    -o-transition: opacity 0.5s ease-out; 
    -webkit-transition: opacity 0.5s ease-out; 
    -ms-transition: opacity 0.5s ease-out; 
    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
    -webkit-transform: translate3d(0,0,0); 
}
#slider #slider-1 {
    background-position: 0 200px;
    -webkit-animation: moveSlideshow 20s linear infinite;
    -moz-animation:    moveSlideshow 20s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0); 
        -moz-transform:    translateX(0); 
        -ms-transform:     translateX(0); 
        -o-transform:      translateX(0); 
        transform:         translateX(0); 
    }    
    100% { 
        -webkit-transform: translateX(-1684px); 
        -moz-transform:    translateX(-1684px); 
        -ms-transform:     translateX(-1684px); 
        -o-transform:      translateX(-1684px); 
        transform:         translateX(-1684px); 
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0); 
        -moz-transform:    translateX(0); 
        -ms-transform:     translateX(0); 
        -o-transform:      translateX(0); 
        transform:         translateX(0); 
    }    
    100% { 
        -webkit-transform: translateX(-1684px); 
        -moz-transform:    translateX(-1684px); 
        -ms-transform:     translateX(-1684px); 
        -o-transform:      translateX(-1684px); 
        transform:         translateX(-1684px); 
    }
}
.ciudad
{
    margin-top: 113px;
}
.botones
{
    width:100%;
    position: absolute;
    bottom:0;
    /* EOZ 150615 */
    text-align: center; 
}
.botones a
{
    color: #A5DE37;
    height: 100%;
    width: 34%;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #A5DE37;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    /* EOZ 150615 */
    float: none;
    display: inline-block;
}

.map-container > .content-block-inner{
    background: none;
}
.map-button{
    position: absolute;
    right: 8px;
}
.map-button:first-child{
    top:   40px;
}
.map-menu .row{
    margin: 5px 0 5px;
}

.map-menu{
    padding: 10px 15px;
    position: absolute;
    width: 91%;
    bottom: 0px;
}
#map-canvas{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 115px;
}

.popover,.popover-angle:after{
    background: #009bdb;
    
}
.popover-about{
    padding: 0 10px 10px;
    text-align: center;
}
#modal-map{
    height: 200px;
    background: grey;
}
.popover-about h3{
    color: white;
}

.popover-about .row:last-child{
    background: white;
}

.popover-about ul{
    margin-top: 0;
    list-style: none;
}

.popover-about ul li:first-child{
   color: #009bdb;
   font-weight: bold;
}

ul.detalle{
    color: #CCC;
}

